# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Private settings
xcuserdata/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# Dependency managers
Pods/
Carthage/Checkouts/

# macOS
.DS_Store

